<!--
    For command line testing we need to include a saxon configuration file as per: 
    http://www.saxonica.com/documentation/extensibility/instructions.html
    
    This factory class must be associated with a namespace URI and registered with the Configuration, which can be done either by calling the method setExtensionElementNamespace(namespace, classname), or by means of an entry in the configuration file.
-->
<configuration xmlns="http://saxon.sf.net/ns/configuration"
               edition="EE">
  <global
    allowExternalFunctions="true"
  />

  <xslt
    initialMode=""
    initialTemplate=""
    messageReceiver=""
    outputUriResolver=""
    recoveryPolicy="recoverWithWarnings"
    schemaAware="false"
    staticErrorListener=""
    staticUriResolver=""
    styleParser=""
    version="2.1"
    versionWarning="false">
    <extensionElement namespace="http://saxon.sf.net/sql"
        factory="net.sf.saxon.option.sql.SQLElementFactory"/>
  </xslt>

</configuration>